<!DOCTYPE html>

<html>
{% include 'head.html' %}
	<body>
		<h1>PDF Highlighter and Annotator</h1>
		<div class="form-box">
			<h1>PDF Project</h1>
			<p>Please select a .pdf file to upload:</p>

			<form id="uploadForm" onsubmit="return validateForm();" method="post" action="/process/" enctype="multipart/form-data">
				<input type="file" name="uploadFile" accept=".pdf">
				<input type="submit" value="Submit">
			</form>	
					
		</div>
	</body>
</html>
<script type="text/javascript" src="../js/home.js"></script>
