<!doctype html>

<html>
	{% include 'head.html' %}
		{% assets "scss_read" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>	
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/svg.min.js') }}"></script>

<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 

<!--
		<script type="text/javascript" src="{{ url_for('static', filename='js/jsPDF/dist/jspdf.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jsPDF/jspdf.plugin.addimage.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jsPDF/jspdf.plugin.svg_to_pdf.js') }}"></script>
-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/pdfkit.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/blob-stream.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/buffer-bundle.js') }}"></script>

		{% endassets %}	
	{% block body %}

	<div class="page">
		<div class="nav">
			<div class="nav-content">
				<div class="site-name"><h1><a href="/">Scannd</a></h1></div>
				<div class="highlight-mode-buttons">
					<div class="svg-button lines" title="Highlight Lines of Text">

						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="30px" height="30px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
						<g>
							<path d="M14,0H2C1.448,0,1,0.448,1,1v14c0,0.552,0.448,1,1,1h12c0.552,0,1-0.448,1-1V1C15,0.448,14.552,0,14,0z M14,15H2V1h12V15z"
								/>
							<path d="M7.5,4h4C11.775,4,12,3.776,12,3.5S11.775,3,11.5,3h-4C7.224,3,7,3.224,7,3.5S7.224,4,7.5,4z"/>
							<path d="M4.5,7h7C11.775,7,12,6.776,12,6.5S11.775,6,11.5,6h-7C4.224,6,4,6.224,4,6.5S4.224,7,4.5,7z"/>
							<path d="M4.5,10h7c0.275,0,0.5-0.225,0.5-0.5S11.775,9,11.5,9h-7C4.224,9,4,9.225,4,9.5S4.224,10,4.5,10z"/>
							<path d="M4.5,13h7c0.275,0,0.5-0.225,0.5-0.5S11.775,12,11.5,12h-7C4.224,12,4,12.225,4,12.5S4.224,13,4.5,13z"/>
						</g>
						</svg>
					</div>
					<div class="svg-button nolines" title="Highlight Freeform Blocks">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="30px" height="30px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
						<path d="M14,0H2C1.448,0,1,0.448,1,1v14c0,0.552,0.448,1,1,1h12c0.552,0,1-0.448,1-1V1C15,0.448,14.552,0,14,0z M14,15H2V1h12V15z"
							/>
						</svg>
					</div>
					<div class="highlight-box"></div>
				</div>
			</div>
		</div>
		<div class="nav-spacer"></div>
			{% for r in result %}
				<div id="{{r}}" class="pdf-page"></div>	
			{% endfor %}

	</div>

	<canvas id="exportcanvas"></canvas>
 	<button onclick="export_to_pdf()" style="position:fixed;bottom:1em;left:1em">Export</button>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	{%endblock%}
</html>
