/* Defining variables*/

$background-color: #FFF;
$header-font: Montserrat, serif;
$main-font: Raleway, sans-serif;
$accent-color: #D98C3C;
$text-color:#0D161D;
$warm-gray: #A8A29E;

$home-background: url("images/coffeeshop.jpeg");
$footer-height: 120px;
