
body {
  margin: 0; }

  rect {
    mix-blend-mode: multiply; }

    .pdf-page {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 10px;
      box-shadow: 0 0 10px #0D161D;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

      .pdf-pages {
        height: 100vh;
        overflow: auto;
        background: #A8A29E;
        padding: 5px;
        width: 75vw; }
