
body {
	min-width: 1024px;
	height: auto;
    margin-top: 0;
	margin-bottom:0;
	background: #A8A29E;
}
.pdf-page {
	width:auto;
	height:auto;
	margin: 10px;
	box-shadow: 0 0 10px #0D161D;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}